@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.sign{
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	font-variant: small-caps;
	border: 1px solid;
}

.sign p{
	text-indent: 0;
}

figure.full-page{
	margin: 0;
	max-height: 100%;
	break-before: page;
	break-after: page;
	break-inside: avoid;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

header{
	text-align: center;
	font-variant: small-caps;
}

#chapter-3-1-5 blockquote p{
	text-align: center;
	text-indent: 0;
}

#chapter-3-1-5 blockquote li p{
	text-align: left;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}
