@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.sign{
	border: 1px solid;
	font-variant: small-caps;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

.sign p{
	text-indent: 0;
}

figure.full-page{
	break-after: page;
	break-before: page;
	break-inside: avoid;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

@supports(display: grid){
	figure.full-page{
		display: grid;
		grid-template-rows: 1fr auto;
		max-height: 100%;
	}
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

header{
	font-variant: small-caps;
	text-align: center;
}

#chapter-3-1-5 blockquote p{
	text-align: center;
	text-indent: 0;
}

#chapter-3-1-5 blockquote li p{
	text-align: initial;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}
